body {
  background-color: rgb(255, 255, 255);
}
#apple1 {
  background-color: rgb(105, 120, 54);
  background-size: contain;
}
#apple2 {
  background-color: rgb(0, 0, 0);
}
#apple3 {
  background-color: rgb(105, 120, 54);
}

#ul {
  display: inline-block;
  text-align: left;
  color: rgb(255, 255, 255);
}
#ol {
  display: inline-block;
  text-align: left;
  color: rgb(255, 255, 255);
}
a {
  font-size: 50px;
}
#li {
  font-size: 40px;
}
table,
tr,
th,
td {
  border: solid 4px black;
  border-color: rgba(171, 165, 209, 0.829);
  width: 40%;
}
tr,
td,
th {
  padding-top: 10%;
}

#navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar-li {
  float: left;
}

#navbar-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar-li a:hover {
  background-color: #111;
}

h1 {
  font-size: 40px;
  font-style: italic;
  color: rgb(11, 38, 38);
}

#apple-news {
background-color: black;
}


marquee{
  font-size: x-large;
}

#apple-news1{
  background-color: rgba(25, 50, 61, 0.368);
}

#apple-news2{
  background-color: rgba(207, 87, 60, 0.356);
}



table,
td {
    border: 10px solid #333;
    font-size: xx-large;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}



#apple-store{
  background-color: rgba(79, 26, 39, 0.349);
}
